@import '../../styles/var';

.DailyTemp {

  &__graph {
    display: flex;
    width: 100%;
    align-items: center;
    padding: $padding 0;
  }

  &__temp {
    padding: 5px 0;
    text-align: center;
    width: 12.5%;
  }

  &__time {
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: $padding 0;
  }

  &__hour {
    width: 12.5%;
    font-size: 14px;
    color: $color-gray;
    font-weight: 300;
  }
}