@import '../../styles/var';

.MainCard {
  display: flex;
  padding: $padding;
  gap: $padding;
  align-items: center;

  &__ico {
    width: 80px;
    height: auto;

    img {
      width: 100%;
    }
  }
  
  &__temp {
    font-size: 60px;
    font-weight: 700;
    color: $color-main;
  }

  &__info {
    display: flex;
    gap: $padding;
  }

  &__col {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__info_row {
    display: flex;
    color: $color-main;

    p {
      font-weight: 300;
      padding: 0;
      color: $color-gray;
      margin: 0 10px 0 0;
    }
  }
}